


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--web-color);
}

::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}


::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
    transition: 0.3s all ease-out;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(104, 99, 99);
}


#DiscoverPage{
    /* background-color: red; */
    width: 100%;
    height: 600px;
}


.discoversearchbar{
    /* background-color: blue; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.discoversearchbar input{
    width: 30%;
    height: 40%;
    border: none;
    outline: none;
    padding: 20px;
    font-weight: bold;
    font-weight: bold;
    font-size: 1.4rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
}


.discoversearchbar button{
    height: 40%;
    width: 5%;
    background-color: var(--secondary-color);
    color: white;
    transition: 0.3s all ease-out;
    cursor: pointer;
    border: none;
    outline: none;
}

.discoversearchbar button:hover{
    background-color: var(--nav-color);
}

.discoverlists{
    /* background-color: brown; */
    width: 100%;
    min-height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.discoverbox{
    /* background-color: chartreuse; */
    width: 95%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

.discoverCard{
    background-color: var(--cards-color);
    width: 300px;
    height: 400px;
    margin: 10px;
}

.discoverImg{
    /* background-color:blueviolet; */
    width: 100%;
    height: 60%;
}

.discoverImg img{
    width: 100%;
    height: 100%;
}


.discoverinfo{
    /* background-color: crimson; */
    width: 100%;
    height: 40%;
}

.discoverName{
    /* background-color:darkcyan; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--secondary-color);
    filter: drop-shadow(1px 1px 1px black);
    padding: 10px;
    font-size: 0.7rem;
}


.discoverlink{
    /* background-color: darkmagenta; */
    width: 100%;
    height: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.discoverlink a{
    color: white;
    text-decoration: none;
    background-color: var(--secondary-color);
    width: 50%;
    height: 35%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 20px;
    transition: 0.3s all ease-out;
}


.discoverlink a:hover{
    background-color: var(--web-color)
}


@media (max-width:600px){


    #searchvalue{
        width: 70%;
    }

    #searchbtn{
        width: 20%;
    }
}