

#GalleryThree{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.galbox{
    /* background-color: rebeccapurple; */
    background-color: var(--cards-color);
    width: 95%;
    height: 95%;
}

.galdis{
    /* background-color: aqua; */
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galdiscard{
    /* background-color: darkgoldenrod; */
    width: 70%;
    height: 90%;
}

.galdiscard img{
    width: 100%;
    height: 100%;
}



.galslide{
    /* background-color: yellowgreen; */
    width: 100%;
    height: 30%;
    display: flex;
}


.galslider{
    /* background-color: blueviolet; */
    width: 80%;
    height: 100%;
    display: flex;
    align-items: center;
    overflow: hidden;
}

.galslidecard{
    /* background-color: crimson; */
    width: 300px;
    height: 90%;
    margin: 10px;
    flex-shrink: 0;
    transition: 0.3s all ease-out;
    cursor: pointer;
}

.galslidecard:hover{
    transform: scale(0.9);
}

.galslidecard img{
    width: 100%;
    height: 100%;
}

.galbtn{
    /* background-color: cornflowerblue; */
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galbtn button{
    background-color: var(--secondary-color);
    width: 50px;
    height: 50px;
    border-radius: 25px;
    border: none;
    outline: none;
    color: white;
    transition: 0.3s all ease-out;
}

.galbtn button:hover{
    background-color: var(--nav-color);
}


@media (max-width:600px){
    .galdiscard{
        width: 90%;
    }

    .galbtn button{
        width: 30px;
        height: 30px;
    }


}