

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body{
    background-color: var(--web-color);
}
::-webkit-scrollbar{
    width: 7px;
}

::-webkit-scrollbar-track{
    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.25);
}


::-webkit-scrollbar-thumb{
    background-color: gray;
    border-radius: 20px;
    transition: 0.3s all ease-out;
}

::-webkit-scrollbar-thumb:hover{
    background-color: rgb(104, 99, 99);
}


#GalleryOne{
    /* background-color: red; */
    width: 100%;
    height: 120vh;
    /* display: flex;
    align-items: center;
    justify-content: center; */
}

.gallerytitle{
    /* background-color: yellow; */
    width: 100%;
    height: 20%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.gallerytitle h1{
    color: var(--secondary-color);
    font-size: 3rem;
    border-bottom: 2px solid var(--secondary-color);
}


.galleryonecard{
    /* background-color: aqua; */
    width: 100%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galleryonebox{
    /* background-color: green; */
    background-color: var(--cards-color);
    width: 90%;
    height: 90%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}


.oneCard{
    /* background-color: aqua; */
    width: 20%;
    height: 45%;
    margin: 5px;
    transition: 0.3s all ease-out;
}

.oneCard img{
    width: 100%;
    height: 100%;
}

.oneCard:hover{
    transform: rotate(15deg);
}


#GalleryTwo{
    /* background-color: red; */
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


.gallerytwobox{
    width: 90%;
    height: 90%;
    background-color: var(--cards-color);
    display: flex;
}

.gallerycol{
    /* background-color: aqua; */
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.gallerycolbox{
    /* background-color: yellowgreen; */
    width: 90%;
    height: 20%;
    margin: 5px;
    cursor: pointer;
    transition: 0.3s all ease-out;
}

.gallerycolbox:hover{
    transform: scale(0.9);
}

.gallerycolbox img{
    width: 100%;
    height: 100%;
}

.gallerydisplay{
    /* background-color: blueviolet; */
    width: 75%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#gallerydisplay-img{
    /* background-color: chartreuse; */
    width: 90%;
    height: 90%;
}

#gallerydisplay-img img{
    width: 100%;
    height: 100%;
}


@media (max-width:600px){
    .gallerytitle h1{
        font-size: 2rem;
    }

    /* .oneCard{
        width: 40%;
        height: 50%;
    } */
}