
@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Nunito&display=swap');

:root{
    --nav-color:#121C36;
    --secondary-color:#F1D63E;
    --web-color:#0C101B;
    --cards-color:#04050E;
}

*{
    font-family: 'Nunito', sans-serif;

}

nav{
    background-color: var(--nav-color);
    width: 100%;
    height: 100px;
    display: flex;

}

.navimg{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    filter: drop-shadow(1px 1px 1px black);
}

.navimg img{
    width: 10%;
    height: 90%;
    margin-left: 20px;
}

.navbtn{
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}


.navbtn button{
    width: 5%;
    height: 40%;
    font-size: 1.3rem;
    background-color: var(--secondary-color);
    color: white;
    transition: 0.3S all ease-out;
    border: none;
    outline: none;
    margin-right: 20px;
    cursor: pointer;
}


.navbtn button:hover{
    background-color: var(--web-color);
}

.sidenav{
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 25%;
    background-color: var(--nav-color);
    z-index: 3;
    transform: translate(-100%);
    transition: 0.3s all ease-out;
}

.sideheader{
    /* background-color: red; */
    width: 100%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sideheader h1{
    color: var(--secondary-color);
    filter: drop-shadow(1px 1px 1px var(--secondary-color));
    border-bottom: 1px solid var(--secondary-color);
}

.sidelinks{
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
}

.sidelinks a{
    color: white;
    text-decoration: none;
    font-weight: bold;
    font-size: 1.4rem;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 20%;
}

.sidelinks a:hover{
    background-color: var(--secondary-color);
}



.showNav{
    transform: translate(0%);
}


@media (max-width:600px){   

    .navimg img{
        width: 60%;
    }

    .navbtn button{
        width: 50px;
    }

    .sidenav{
        width: 50%;
    }
    
    .sideheader h1{
        font-size: 1.3rem;
    }

    .sidelinks a{
        font-size: 1.2rem;
    }
}